@page
@model Web.Pages.GameModel
@{
    var game = Model.CurrentGame;
}

<style>
    .board {
        display: grid;
        grid-template-columns: repeat(10, 25px);
        grid-template-rows: repeat(10, 25px);
        gap: 5px;
        margin: 20px auto;
    }

    .cell {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
    }
    .object{
        width:100%;
        height:100%;
		text-align: center;
    }

    .treasure {
        background-color: gold;
    }

    .obstacle {
        background-color: gray;
    }

    .player {
        background-color: blue;
        color: white;
        font-weight: bold;
    }
</style>
<body>
    <h1>Capture the Treasure</h1>

    <div class="board">
        @for (int y = 0; y < 10; y++)
        {
            @for (int x = 0; x < 10; x++)
            {
                var cellContent = "";

                var treasure = game.Tresures.FirstOrDefault(t => t.X == x && t.Y == y);
                if (treasure != null)
                {
                    cellContent = "<div class='treasure object'></div>";
                }

                var obstacle = game.Obstacles.FirstOrDefault(o => o.X == x && o.Y == y);
                if (obstacle != null)
                {
                    cellContent = "<div class='obstacle object'></div>";
                }

                if (game.Player.X == x && game.Player.Y == y)
                {
                    cellContent = "<div class='player object'>P</div>";
                }

                <div class="cell">
                    @Html.Raw(cellContent)
                </div>
            }
        }
    </div>
    @if (game.HasFinished && !game.ObstacleWasHit)
    {
        <h3>You won!!!</h3>
        <form method="POST">
			<input type="submit" value="Restart Game" />
        </form>
    }else if(game.ObstacleWasHit){
        <h3>You lost!</h3>
        <form method="POST">
            <input type="submit" value="Restart Game" />
        </form>
    }
    else{
        <a href="/Game?direction=up">Up</a>
        <a href="/Game?direction=right">Right</a>
        <a href="/Game?direction=down">Down</a>
        <a href="/Game?direction=left">Left</a>
    }

    <div>
        <h3>Game Status</h3>
        <p>Moves counter @game.Player.MovesCount</p>
        <p>Treasures collected: @game.Player.Score</p>
    </div>

</body>
</html>
